.footer__copyright{
  display:flex;
  justify-content: center;
  padding: 60px 0;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: rgba(33, 33, 33, 0.7);
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

@media screen and (max-width:320px) {

  .footer__copyright{
    padding: 20px 0 60px;
    margin: 0;
  }

}